.app{
  text-align: center;
  width: 100%;
  height: 95vh;
  display: flex;
}

.counter-container {
  margin: auto;
  border-style: ridge;
  border-color: black ;
  width: 35%;
  height: 35%;
  background-color:#E8E8FA;
}
.head{
  color:darkcyan;
  border-bottom: ridge;
  display: flex;
  flex-direction: column;
}
.sub{
  color: cadetblue;
  border-bottom: ridge;

}

.plus-button, .minus-button{
  border-bottom: ridge;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  font-size: 30px;
}

.plus-five-button {
  padding-top: 20px;
  cursor: pointer;
  font-size: 20px;
}